# DB Configuration
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=edu_tech
# Poner en "true" en producción (Aiven exige SSL). En local dejar "false".
DB_SSL=false

# Mail Configuration
MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASS=

# App Configuration
PORT=3000
JWT_SECRET=
JWT_EXPIRES_IN=30m